<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      img { width: 200px; height: 150px; padding: 15px; }
      h2 { color: #000000; text-align: center; }
      h3 { color: #d3696d; text-align: center; margin-top: 15px; }
      p { color: #000000; margin-left: 15px; }
    </style>

  </head>
  <body>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center" border="0"  cellpadding="0" cellspacing="0" width="100%" style="background-color: #280a05;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="650">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="m_-7002159408102020021py-4">
                                                    <img src="cid:uniq-welcomemail" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 587px; top: 136px;"><div id=":ro" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #280a05;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" border="0" style="border-radius:10px 10px 0px 0px; background-color: #FFFFFF;" cellpadding="0" cellspacing="0" width="600">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <h2>{{title}}</h2>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #e5e5e5;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" border="0" style="border-radius:0px 0px 10px 10px; background-color: #FFFFFF; " cellpadding="0" cellspacing="0" width="600">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>{{name}}</h3>

                                                    <p>{{text}}</p>

                                                    <p>
                                                        Cheers, <br>
                                                        Coffee App
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
</html>